.container-row {
    display: flex;
}

.container-row-element {
    width: 100%;
}

.container-row-element-s {
    width: 50%;
}

.container-row-element-xs {
    width: 25%;
}

.left {
    text-align: left;
    overflow: auto;
    display: block;
}

@keyframes blue-glowing {
    0% {
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
        box-shadow: 0 0 2px rgb(59 130 246 / var(--tw-bg-opacity));
    }
    50% {
        background-color: deepskyblue;
        box-shadow: 0 0 10px deepskyblue;
    }
    100% {
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
        box-shadow: 0 0 2px rgb(59 130 246 / var(--tw-bg-opacity));
    }
}

.blue-glowing-button{
    animation: blue-glowing 1300ms infinite;
}
