.container-row {
    display: flex;
}

.container-row-element {
    width: 100%;
}

.container-row-element-s {
    width: 50%;
}

.container-row-element-xs {
    width: 25%;
}

.container-row-element-xxs {
    width: 5%;
}

.left {
    text-align: left;
    overflow: auto;
    display: block;
}

.right {
    text-align: right;
    overflow: auto;
    display: block;
}

.scenario-title {
    text-align: center;
    font-size: 1.2em;
}

.simple-shadow {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3)
}

.scenario-box {
    border-radius: 8px;
    padding: 0;
    border: 2px solid #ddd;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3)
}

.scenario-box:hover {
    background-color: #f0f0f0;
}

.green-border {
    border: 2px solid green;
}

.red-border {
    border: 2px solid red;
}

@keyframes blue-glowing {
    0% {
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
        box-shadow: 0 0 2px rgb(59 130 246 / var(--tw-bg-opacity));
    }
    50% {
        background-color: deepskyblue;
        box-shadow: 0 0 10px deepskyblue;
    }
    100% {
        background-color: rgb(59 130 246 / var(--tw-bg-opacity));
        box-shadow: 0 0 2px rgb(59 130 246 / var(--tw-bg-opacity));
    }
}

.blue-glowing-button{
    animation: blue-glowing 1300ms infinite;
}
